<!DOCTYPE html>
<html lang="en">
 
<head>

    <title>miRNASNP Sequencing</title>
    <link href="templates/signup.css" rel="stylesheet">
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333333;
        }
        
        li {
          float: left;
        }
        
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        }
        
        li a:hover {
          background-color: #111111;
        }
    </style>
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">TBD</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">SNPMatch</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">miRNASNP SequencingMRNA</h3>
        </div>
 
        <div class="jumbotron">
            <h1>MRNA Sequence Matching Using KMP Algorithm</h1>
            <p class="lead"></p>
            <!--<p><a class="btn btn-lg btn-success" href="showSignUp" role="button">TBD</a>-->
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4></h4>
                <p></p>
 
                <h4></h4>
                <p></p>
 
                <h4></h4>
                <p></p>
            </div>
 
            <div class="col-lg-6">
                <h4></h4>
                <p></p>
 
                <h4></h4>
                <p></p>
 
                <h4></h4>
                <p></p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Troy University Computer Science Dept</p>
        </footer>
 
    </div>
</body>
 
</html>